<h1>Cocktails</h1>

<ul>
  <% @cocktails.each do |cocktail| %>
    <li class="card"><%= link_to cocktail.name, cocktail_path(cocktail), class:"btn btn-dark rounded"%></li>
  <% end %>
</ul>

<%= link_to "+ Add your own cocktail", cocktails_new_path, class:"btn btn-dark rounded" %>
