// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background: linear-gradient(115deg, #d0e8f2,#79a3b1,#456268)
}

div {
  margin: 8px;
}

.index {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.card-category {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  width: 200px;
}
